#header {
    height: 70px; 
}

#placardContainer {
    left: 0px !important;
    width: 100% !important;
    bottom: -5px !important;
}
#headerDesktop .rightArea{
	padding-top: 0px !important;
}
#headerDesktop .title{
	margin-top: 30px !important;
}

